.container {
  padding: 2rem;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.mat-elevation-z8{
  width: 95%;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
table {
  width: 100%;
}
th.mat-header-cell {
  text-align: center;
}
td.mat-cell{
  padding: 10px;
}
td.mat-cell{
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  margin-right: 10px;
}
