

<app-select-org
fxLayout="row wrap"
fxLayout.xs="column wrap"
fxLayoutAlign="start center"
fxLayoutAlign.xs="center center"
fxLayoutGap="1em"
(paramsChange)="filtersChange($event)"
>
</app-select-org>

<div class="container">
  <ngx-dropzone (change)="onSelect($event)" accept=".csv">
    <ngx-dropzone-label>
      <mat-icon style="font-size: 100px;">person_add</mat-icon>
    </ngx-dropzone-label>
    <ngx-dropzone-preview
      *ngFor="let f of files"
      [removable]="true"
      (removed)="onRemove(f)"
    >
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
</div>

<div class="mat-elevation-z8" *ngIf="people.length > 0">
  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">
        {{ element.nombre | titlecase }}
      </td>
    </ng-container>

    <!-- LastName1 Column -->
    <ng-container matColumnDef="apellido1">
      <th mat-header-cell *matHeaderCellDef>Apellido 1</th>
      <td mat-cell *matCellDef="let element">
        {{ element.apellido1 | titlecase }}
      </td>
    </ng-container>

    <!-- Lastname2 Column -->
    <ng-container matColumnDef="apellido2">
      <th mat-header-cell *matHeaderCellDef>Apellido 2</th>
      <td mat-cell *matCellDef="let element">
        {{ element.apellido2 | titlecase }}
      </td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="pais">
      <th mat-header-cell *matHeaderCellDef>Pais</th>
      <td mat-cell *matCellDef="let element">{{ element.pais }}</td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef>Sexo</th>
      <td mat-cell *matCellDef="let element">{{ element.sexo }}</td>
    </ng-container>

    <!-- Institutional Email Column -->
    <ng-container matColumnDef="institutional_email">
      <th mat-header-cell *matHeaderCellDef>Email Institucional</th>
      <td mat-cell *matCellDef="let element">
        {{ element.institutional_email }}
      </td>
    </ng-container>

    <!-- External_Email Column -->
    <ng-container matColumnDef="externals_email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.externals_email }}</td>
    </ng-container>

    <!-- Aliases Column -->
    <!-- <ng-container matColumnDef="aliases">
      <th mat-header-cell *matHeaderCellDef>Aliases</th>
      <td mat-cell *matCellDef="let element">
        <mat-list role="list" *ngFor="let item of element.aliases">
          <mat-list-item role="listitem">{{item}}</mat-list-item>
        </mat-list>

      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>



<div class="button-container">
  <button mat-raised-button (click)="showData()" color="primary">
    Mostrar
  </button>
  <button mat-raised-button (click)="saveData()" color="primary">
    Guardar
  </button>
</div>

