<div class="bg-primary-color header"
  fxLayout.xs="column"
>
  <mat-icon> account_circle</mat-icon>
  <div class="person-primary-info">
    <p class="title">Alejandro Cabrera Mena</p>
    <p class="sub-title">Pinar del Rio, Cuba</p>
    <p class="sub-title">alejandro97.acm@gmail.com</p>
  </div>
</div>

<div fxLayout="row"
     fxLayoutAlign="center center"
     style="border-radius: 40px 40px 0 0"
>
  <div
    [ngStyle.xs]="{ width: '95%' }"
    style="
      margin-top: -100px;
      width: 90%;
      background-color: white;
      border-radius: 40px 40px 0 0;
      box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.088);
    "
  >
    <router-outlet></router-outlet>
  </div>
</div>
