<toco-header  [showMenuLang]="'true'" [icon]="'/assets/icons/apps/persons.svg'" [iconLabel]="'SCEIBA_PERSONAS'" [iconAlt]="'PERSONAS'"></toco-header>
<!-- <mat-menu #menuNetwork="matMenu">
  <a mat-menu-item href="https://www.facebook.com/sceiba/" target="_blank">
      Facebook
  </a>
  <a mat-menu-item href="https://twitter.com/SceibaCu" target="_blank">
      Twitter
  </a>
  <a mat-menu-item href="https://github.com/tocororo" target="_blank">
      GitHub
  </a>
</mat-menu> -->



<div
  *ngIf="!isHome"
  class="bg-primary-color"
  style="
    height: 200px;
    width: 100%
  "
></div>

<div *ngIf="!isHome; else outHome"
  fxLayout="row"
  fxLayoutAlign="center center"
  style="border-radius: 40px 40px 0 0"
>
  <div
    [ngStyle.xs]="{ width: '95%' }"
    style="
      margin-top: -100px;
      width: 90%;
      background-color: white;
      border-radius: 40px 40px 0 0;
      box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.088);
    "
  >
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #outHome>
  <router-outlet></router-outlet>
</ng-template>

<!--<div [ngStyle]="{'margin-top': '2em'}"> -->
<app-footer
  [sites]="footerSites"
  [information]="footerInformation"
>
</app-footer>
<!-- </div> -->
